{% extends "base.html" %}
{% load static %}

{% block title %}{{ category.name }}{% endblock %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/category_detail.css' %}">
{% endblock %}

{% block main %}
  <div class="container">
    <h2 class="text-align-center">{{ category.name }}</h2>
    <span class="admin_action update"><a href="{{ category.get_update_url }}">Редактировать</a></span>
    <span class="admin_action delete"><a href="{{ category.get_delete_url }}">Удалить</a></span>
  </div>
{% endblock %}
