{% extends 'base.html' %}

{% load static %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}Вход/Регистрация{% endblock %}

{% block main %}
    <div class="login">
        <div class="container">
            <div class="login__row">
                <div class="login__container">
                    <div class="login__frame">
                        <div class="login__nav">
                            <ul class="login__links">
                                <li class="login__signin_active nav_li">
                                    <a href="#" class="login__btn">Вход</a>
                                </li>
                                <li class="login__signup_inactive nav_li">
                                    <a href="#" class="login__btn">Регистрация</a>
                                </li>
                            </ul>
                            <form action="#" class="login__form-signin login__form-sigin_left login_form" name="form">
                                <label for="email">Имя</label>
                                <input type="text" class="login__form-styling" name="email" data-validate-field="email">
                                <label for="password">Пароль</label>
                                <input type="password" class="login__form-styling" name="password" data-validate-field="password">
                                <input type="checkbox" class="login__checkbox" data-validate-field="checkbox">
                                <label for="checkbox">
                                     <span class="ui">Запомнить меня</span>
                                </label>
                                <button class="login__signin-btn login__submit-btn" type="submit">Войти</button>
                            </form>
                            <form action="#" class="login__form-signup login_form" name="form">
                                <label for="first_name">Имя</label>
                                <input type="text" class="login__form-styling" name="first_name">
                                <label for="second_name">Фамилия</label>
                                <input type="text" class="login__form-styling" name="first_name">
                                <label for="email">Email</label>
                                <input type="text" class="login__form-styling" name="email">
                                <label for="password">Пароль</label>
                                <input type="password" name="password" class="login__form-styling">
                                <label for="confirm_password">Повторите пароль</label>
                                <input type="password" name="confirm_password" class="login__form-styling">
                                <a href="#" class="login__signup-btn"></a>
                                <button class="login__signup-btn login__submit-btn">Регистрация</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/login.js' %}"></script>
{% endblock %}