{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ product.name }}{% endblock %}

{% block main %}
  <div class="container">
    <div class="product">
      <div class="product__row">
        <h2 class="product__title text-align-center">{{ product.name }}</h2>
        <div class="product__images">

        </div>
        <p class="product__description">
          {{ product.description }}
        </p>
        <p class="product__price"><strong>{{ product.price|intcomma }} р</strong></p>
        <p class="product__available-count">Доступно: {{ product.available_count }}</p>
      </div>
    </div>
  </div>
{% endblock %}
