{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/product_detail.css'%}">
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/product_detail.js' %}"></script>
{% endblock %}

{% block main %}
  <div class="container">
    <div class="product">
      <div class="product__row">
        <h2 class="product__title text-align-center">{{ product.name }}</h2>
        <div class="product__slideshow">
          {% if images %}
            <div class="slideshow__container">
              {% for image in images %}
                <div class="slideshow__slide fade">
                  <img src="{{ image.path.url }}" alt="картинка" style="width:100%">
                </div>
              {% endfor %}
              <!-- Next and previous buttons -->
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <!-- The dots/circles -->
            <div style="text-align:center">
              {% for image in images %}
                <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
              {% endfor %}
            </div>
          {% else %}
            <p>Для этого товара нет фотографий</p>
          {% endif %}
        </div>
        <p class="product__description">
          {{ product.description }}
        </p>
        <p class="product__price"><strong>{{ product.price|intcomma }} р</strong></p>
        <p class="product__available-count">Доступно: {{ product.available_count }}</p>
        <button class="product__add {% if not product.available and not product.available_count > 0 %}{{ 'disabled' }}{% endif %}">Добавить в корзину</button>
      </div>
    </div>
  </div>
{% endblock %}
