/* Переменные */
/* Mixins */
html, body {
  height: 100%;
}

.button {
  border: 0;
  border-radius: 5px;
}
/* Стили */
.wrapper {
  overflow: hidden;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
 .nav {
  height: 60px;
  background-color: #333333;
  font-family: sans-serif;
}
.nav__row {
  padding: 20px 0 0 0;
  display: flex;
}
.nav__left {
  display: flex;
  width: 70%;
  font-size: 25px;
}
.nav__item {
  margin-left: 20px;
  line-height: 1;
}
.nav__item a {
  text-decoration: none;
  color: #fff;
}
 .nav__item a:hover {
  color: rgba(0, 255, 0, 0.5);
  transition-duration: .4s;
}
.nav__right {
  margin: 0 auto;
}
.nav__search {
  padding: 0;
}
.search__input {
  height: 30.5px;
  border: 0;
  border-radius: 5px;
}
.search__btn {
  border: 0;
  border-radius: 5px;
  height: 30.5px;
  width: 70px;
}
.search__btn:hover {
  background-color: rgba(0, 255, 0, 0.5);
  color: #fff;
  transition-duration: .4s;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.text-align-center {
  text-align: center;
}

main {
    flex: 1 1 auto;
}

.footer {
  background-color: rgba(46, 46, 46, 1);
  height: 130px;
  padding: 40px 0 0 0;
  color: #fff;
}

.footer__row {
  display: flex;
  justify-content: space-around;
}

.footer__info a {
  color: lightgray;
}

.search__advice {
  margin: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background-color: rgba(0, 255, 0, 0.5);
  height: auto;
  width: 300px;
  border-radius: 5px;
}

.advice__item {
  margin-left: 10px;
}

.advice__item:hover {
  cursor: pointer;
}

.advice__not {
  margin-left: 10px;
}
