{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>МАудио | {% block title %}{% endblock %}</title>
  {% block styles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}
</head>
<body>
  <div class="wrapper">
    <nav class="nav">
      <nav class="nav__row">
        <div class="nav__left">
          <div class="nav__home nav_item">
            <a href="{% url 'category_list' %}" class="nav_link">Главная</a>
          </div>
          <div class="nav__categories nav_item">
            <a href="#" class="nav_link">Категории</a>
          </div>
        </div>
        <div class="nav__right">
          <div class="nav__search nav_item">
            <form action="{% url 'search' %}" method="GET">
              <input type="search" class="search__input" name="q" id="search">
              <button type="submit" name="button" class="search__btn">Поиск</button>
            </form>
            <div class="search__advice"></div>
          </div>
          <div class="nav__shopcart-wrapper nav_item">
            <a href="" class="nav__shopcart nav_link" data-count="0">
              <img src="{% static 'image/shopcart.svg' %}" alt="Корзина" class="nav__shopcart-img">
            </a>
          </div>
          <div class="nav__login-wrapper nav_item">
            <a href="#" class="nav__login nav_link">Вход/Регистрация</a>
          </div>
        </div>
      </nav>
    </nav>
    <main>
      {% block main %}{% endblock %}
    </main>
    <footer class="footer">
      <div class="footer__row">
        <div class="footer__communication">
          <p class="communication__phone">8 (900) 34-24-10</p>
          <p class="communication__adress">Москва, Сиреневый проезд, ул.Циолковского д.5</p>
          <p class="communication__hours">Рабочие часы: ПН-ВС 9:00-18:00</p>
        </div>
        <div class="footer__info">
          <p class="info__agreement"><a href="#">Пользовательское соглашение</a></p>
          <p class="info__coockie"><a href="">Мы используем куки</a></p>
        </div>
      </div>
    </footer>
  </div>
  {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>
  {% endblock %}
</body>
</html>
